 body {
            font-family: 'Arial', sans-serif;
            text-align: center;
            background-color: rgb(1, 1, 1);
        }

        .letter {
            display: inline-block;
            padding: 10px;
            margin: 10px;
            cursor: pointer;
            font-size: 24px;
            border: 1px solid #ccc;
            border-radius: 5px;
            transition: background-color 0.3s;
            color: #ffffff;
        }

        .word-container {
            margin-top: 20px;
            color: aliceblue;
        }

        .word {
            display: inline-block;
            padding: 10px;
            margin: 10px;
            font-size: 18px;
            border: 1px solid #ffffff;
            border-radius: 5px;
        }
        h1{
          color: #ffffff;
        }
